<h1>Items</h1>

<form ng-submit="addNewItem()">
	<input ng-model="newItem.name" placeholder="New Item">
	<select multiple ng-model="newItem.stores" ng-options="store.$id as store.name for store in stores"></select>
	<div ng-controller="qtyTypeSelectController">
		<select ng-model="newItem.qtyType" ng-options="type.$id as parseQtyType(type.$value) for type in qtypes">

		</select>
	</div>
	<button type="submit">Add</button>
</form>

<ul>
	<li ng-repeat="item in items" item-list-inline-edit="item" parent-list="items">

	</li>
</ul>
